#!/home/ubuntu/ansible/senv/bin/ansible-playbook
- name: Testing Handlers 
  hosts: localhost
  remote_user: ubuntu
  become: 'yes'
  become_user: root

  vars:
    x: True
    y: False
    
  tasks:
    - name: Testing Handlers 
      debug:
          msg:
          - "x and y is {{ x and y }}"
          - "x or y is {{ x or y }}"
          - "x or y and y and y  is {{ x or y and y and y  }}"
      notify:
        - Handler testing

  handlers:
    - name: Handler testing
      debug:
          msg:
          - "This is the handler running after a notification"
